.hero-component-wrap {}

.hero-component {
	-webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
	width: 100%;
	overflow: hidden;
	height: 1000px;
	background: url('../../assets/images/hero/background.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.hero-container {
		padding-top: 270px; //TODO: Remove when both buttons are showing
		padding-left: 15%;
		max-width: 430px;

		.top-bar-header {
			height: 5px;
			background-color: #FFFFFF;
			-webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear;
		}

		.hero-header {
			font-family: 'Avenir-Heavy', sans-serif;
			color: #FFF;
			float: left;
			//font-size: 32px;
			font-size: 35px; //TODO: Remove when both buttons are showing
			line-height: 49px;
		}

		.hero-button-wrap {
			#growthReportButton {
				margin-left: 5px; //TODO: Remove when both buttons are showing
				width: 300px; //TODO: Remove when both buttons are showing
				border-radius: 80px; //TODO: Remove when both buttons are showing
				font-size: 18px; //TODO: Remove when both buttons are showing
				padding: 15px 25px 16px 25px; //TODO: Remove when both buttons are showing
				//padding: 8px 25px 7px 25px;
				margin-right: 20px;
				margin-bottom: 20px;
				color: #FFFFFF;
				font-family: 'Avenir-Heavy', sans-serif;
				//font-size: 16px;
				background-color: transparent;
				//border-radius: 18px;
				border: 3px solid #FFFFFF;
				-webkit-transition: background-color 200ms linear;
		        -moz-transition: background-color 200ms linear;
		        -o-transition: background-color 200ms linear;
		        transition: background-color 200ms linear;

			}

			#growthReportButton:hover {
				cursor: pointer;
				background-color: #FFFFFF;
				color: #434343;
			}

			#growMyBusinessButton {
				padding: 8px 25px 7px 25px;
				color: #002FC7;
				font-family: 'Avenir-Heavy', sans-serif;
				font-size: 16px;
				background-color: #80E7FF;
				border-radius: 18px;
				border: 3px solid #80E7FF;
				-webkit-transition: background-color 200ms linear;
		        -moz-transition: background-color 200ms linear;
		        -o-transition: background-color 200ms linear;
		        transition: background-color 200ms linear;
			}

			#growMyBusinessButton:hover {
				cursor: pointer;
				background-color: #FFFFFF;
				color: #002FC7;
			}
		}
	}
}

// Really large screens
@media only screen and (min-width: 1441px) {
	.hero-component {
		height: 800px;
		margin-bottom: 100px;
		background: url('../../assets/images/hero/large_background.png') no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

// Tablet styles
@media only screen and (max-width: 912px)  and (min-width: 587px) {
	.hero-component {
		.hero-container {
			padding-left: 50px;
			padding-top: 210px;
		}
	}
}


// Mobile styles
@media only screen and (max-width: 586px) {
	.hero-component {
		height: 700px;
		background: url('../../assets/images/hero/mobile_background2.svg');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		.hero-container {
			display: block;
			margin: 0 auto;
			padding-left: 20px;
			padding-top: 170px;

			.hero-button-wrap {
				#growthReportButton {
					margin-left: 15px; //TODO: Remove when both buttons are showing
					margin-top: 15px; //TODO: Remove when both buttons are showing
				}
			}
		}
	}
}
