.subhero-component {
	margin-top: -130px;

	.subhero-header {
		max-width: 268px;
		display: block;
		margin: 0 auto;
		text-align: center;
		color: #707E99;
		font-family: 'Avenir-Heavy', sans-serif;
		font-size: 32px;
		position: relative;
	}

	.subhero-header:after {
		content: '';
		position: absolute;
		z-index: -1;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		bottom: -18px;
		left: 30%;
		width: 40%;
		height: 3px;
		background: #0077FF;
	}

	.steps-wrapper {
		max-width: 460px;
		margin: 0 auto;
		display: block;
		margin-top: 80px;
		padding: 20px;
		padding-bottom: 60px;

		.steps-image {
			pointer-events: none;
			max-height: 445px;
			width: 100%;
		}
	}

	.prop-points {
		max-width: 1200px;
		display: block;
		margin: 0 auto;

		.row {
			padding-bottom: 80px;
			overflow: hidden;
			width: 100%;

			.prop-div.hidden-desktop {
				display: none;
			}

			.prop-div {
				display: inline-block;
				overflow: hidden;
				width: 50%;

				.prop-image {
					display: block;
					margin: 0 auto;
					margin-bottom: 30px;
				}

				.prop-text-wrap {
					max-width: 465px;
					padding: 20px;
					display: block;
					margin: 0 auto;

					.prop-header-wrap {
						position: relative;
						overflow: hidden;

						.prop-bar {
							-webkit-transition: all 400ms linear;
					        -moz-transition: all 400ms linear;
					        -o-transition: all 400ms linear;
					        transition: all 400ms linear;

							position: absolute;
							top: 28px;
							display: inline-block;
							height: 3px;
							background-color: #707E99;
						}

						.prop-text {
							float: left;
							padding-left: 110px;
							display: inline-block;
							color: #3E5176;
							font-size: 18px;
							font-family: Avenir-Heavy, sans-serif;
						}
					}

					.tagline {
						color: #085EA7;
						font-size: 26px;
						font-family: Avenir-Heavy, sans-serif;
					}

					.description {
						line-height: 1.5em;
						color: #3E5176;
						font-size: 18px;
						font-family: Avenir-Roman, sans-serif;
					}

					.prop-button {
						display: none;
						//TODO: Remove display none later

						border: none;
						cursor: pointer;
						outline: none;
						padding: 10px 50px;
						margin-bottom: 50px;
						color: #FFFFFF;
						font-family: Avenir-Heavy, sans-serif;
						font-size: 20px;
						background: #0090FE;
						box-shadow: 0 15px 28px 0 rgba(92,154,227,0.41);
						border-radius: 32px;
					}
				}
			}
		}
	}

	.clients-section {
		overflow: hidden;
		.client-logos-wrap {
			padding-top: 85px;
			display: flex;
		    align-items: center;
			justify-content: center;

			.logo-image {
				-webkit-transition: all 300ms linear;
		        -moz-transition: all 300ms linear;
		        -o-transition: all 300ms linear;
		        transition: all 300ms linear;
				margin-right: 60px;
				margin-left: 60px;
			}

			#futurismLogo {
				height: 42px;
				width: auto;
			}

			#nobleLogo {
				height: 52px;
				width: auto;
			}

			#squarePegLogo {
				height: 56px;
				width: auto;
			}
		}
	}
}

// Really large screens
@media only screen and (min-width: 1441px) {
	.subhero-component {
		margin-top: 0px;
	}
}

// Tablet styles
@media only screen and (max-width: 997px) {
	.subhero-component {
		.prop-points {
			.row {
				.hidden-mobile {
					display: none;
				}

				.prop-div.hidden-desktop {
					display: block;
				}

				.prop-div {
					width: 100%;
					.prop-text-wrap {
						max-width: 605px;
					}
				}
			}
		}

		.clients-section {
			.client-logos-wrap {
				.logo-image {
					margin-right: 30px;
					margin-left: 30px;
				}

				#futurismLogo {
					height: 37px;
				}

				#nobleLogo {
					height: 47px;
				}

				#squarePegLogo {
					height: 51px;
				}
			}
		}
	}
}

// Mobile styles
@media only screen and (max-width: 586px) {
	.subhero-component {
		margin-top: -30px;

		.subhero-header {
			padding-top: 50px;
		}

		.steps-wrapper {
			margin-top: 20px;
		}

		.prop-points {
			padding-top: 40px;
			.row {
				padding-bottom: 50px;

				.prop-div {
					.prop-image {
						height: 150px;
						width: auto;
					}
					.prop-text-wrap {
						.description {
							line-height: 1.8em;
						}

						a {
							text-decoration: none;
							.prop-button {
								display: none;
								//TODO: Remove display none later
								//display: block;
								margin: 0 auto;
								margin-top: 40px;
								margin-bottom: 20px;
							}
						}
					}
				}
			}
		}

		.clients-section {
			padding-bottom: 40px;
			.client-logos-wrap {
				.logo-image {
					margin-right: 15px;
					margin-left: 15px;
				}

				#futurismLogo {
					height: 24px;
				}

				#nobleLogo {
					height: 33px;
				}

				#squarePegLogo {
					height: 37px;
				}
			}
		}
	}
}
