.title-component {
	overflow: hidden;
	padding-bottom: 400px;
	background: url('../../assets/images/title/background.svg') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;

	.title-container {
		padding-top: 400px;
		padding-left: 15%;
		max-width: 430px;

		.top-bar-header {
			height: 5px;
			background-color: #FFFFFF;
			-webkit-transition: all 300ms linear;
	        -moz-transition: all 300ms linear;
	        -o-transition: all 300ms linear;
	        transition: all 300ms linear;
		}

		.title-header {
			font-family: 'Avenir-Heavy', sans-serif;
			color: #FFF;
			float: left;
			font-size: 32px;
			line-height: 44px;
		}

		.title-button-wrap {
			#growthReportButton {
				padding: 8px 25px 7px 25px;
				margin-right: 20px;
				margin-bottom: 20px;
				color: #FFFFFF;
				font-family: 'Avenir-Heavy', sans-serif;
				font-size: 16px;
				background-color: transparent;
				border-radius: 18px;
				border: 3px solid #FFFFFF;
				-webkit-transition: background-color 200ms linear;
		        -moz-transition: background-color 200ms linear;
		        -o-transition: background-color 200ms linear;
		        transition: background-color 200ms linear;

			}

			#growthReportButton:hover {
				cursor: pointer;
				background-color: #FFFFFF;
				color: #434343;
			}

			#growMyBusinessButton {
				padding: 8px 25px 7px 25px;
				color: #002FC7;
				font-family: 'Avenir-Heavy', sans-serif;
				font-size: 16px;
				background-color: #80E7FF;
				border-radius: 18px;
				border: 3px solid #80E7FF;
				-webkit-transition: background-color 200ms linear;
		        -moz-transition: background-color 200ms linear;
		        -o-transition: background-color 200ms linear;
		        transition: background-color 200ms linear;
			}
			
			#growMyBusinessButton:hover {
				cursor: pointer;
				background-color: #FFFFFF;
				color: #002FC7;
			}
		}
	}
}

// Really large screens
@media only screen and (min-width: 1441px) {
	.title-component {
		margin-bottom: 100px;
	}
}

// Tablet styles
@media only screen and (max-width: 927px)  and (min-width: 587px) {
	.title-component {
		.title-container {
			padding-left: 50px;
			padding-top: 300px;
		}
	}
}


// Mobile styles
@media only screen and (max-width: 586px) {
	.title-component {
		padding-bottom: 200px;
		background: url('../../assets/images/title/mobile_background2.svg');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		.title-container {
			padding-left: 50px;
			padding-top: 160px;
		}
	}
}