@font-face {
	font-family: 'Avenir-Heavy';
	src: url('../assets/fonts/Avenir/AvenirLTStd-Heavy.otf');
}

@font-face {
	font-family: 'Avenir-Roman';
	src: url('../assets/fonts/Avenir/AvenirLTStd-Roman.otf');
}

@font-face {
	font-family: 'Avenir-Light';
	src: url('../assets/fonts/Avenir/AvenirLTStd-Light.otf');
}

html, body {
	margin: 0 auto;
	padding: 0;
}

.fade-in-content-appear {
  opacity: 0.01;
}

.fade-in-content-appear.fade-in-content-appear-active {
  opacity: 1;
  transition: opacity .7s ease-in-out;
}
