@font-face {
	font-family: 'Avenir-Heavy';
	src: url('../assets/fonts/Avenir/AvenirLTStd-Heavy.otf')
}

@font-face {
	font-family: 'Avenir-Roman';
	src: url('../assets/fonts/Avenir/AvenirLTStd-Roman.otf')
}

html, body {
	margin: 0 auto;
	padding: 0;
}